.ltr {
    direction: ltr;
}

.wrapper {
    width: min(var(--p-content-max-width), 100% - (var(--p-content-inline-spacing) / 2));
    margin-inline: auto;
}

@media screen and (max-width : 580px) {
    :root{
        --p-content-inline-spacing : 7rem !important;
    }   
}

@media (max-width : 1025px) {
    .show-desktop {
        display: none;
    }
}

@media (min-width : 1025px) {
    .hide-desktop {
        display: none !important;
    }
}

.glass {
    backdrop-filter: blur(8px);
    background-color: var(--p-glass);

}

.progress-bar {
    position: sticky;
    height: 3px;
    z-index: 100;
    background-color: var(--p-primary-color);
    animation: progress linear forwards;
    animation-timeline: scroll();
}

.darker {
    background-color: var(--p-color-background-darker);
}

.flex-mobile-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--p-small-gap);

    @media (min-width: 1025px) {
        flex-direction: row;
    }

}

.form-group {
    display: flex;
    flex-direction: column;
    gap: var(--p-small-gap);
}

.flex-column {
    flex-direction: column !important;
}

.separator {
    margin: auto;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.135);
    width: 75%;
}
